# With this line @NatLibFi/melinda-js-lead owns any files in the /.github/
# directory at the root of the repository and any of its
# subdirectories.
/.github/ @NatLibFi/melinda-js-lead


# With this line @NatLibFi/melinda-js-lead owns any files in the /src/
# directory at the root of the repository and any of its
# subdirectories.
/src/ @NatLibFi/melinda-js-lead

# With this line @NatLibFi/melinda-js-lead owns package.json file
# at the root of the repository
/package.json @NatLibFi/melinda-js-lead
